<!doctype html>
<html>

<head>
    <!--<script src="https://cdn.jsdelivr.net/npm/rasa-webchat/lib/index.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/rasa-webchat@1.0.1/lib/index.js" async></script>-->
    <link rel="stylesheet" href="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />


</head>

<body>


    <form class="rw-sender">
        <textarea type="text" class="rw-new-message" name="message" placeholder="Type a message..." autocomplete="off" style="height: 20px;"></textarea>
        <button type="submit" class="rw-send" disabled="">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" enable-background="new 0 0 535.5 535.5" version="1.1" viewBox="0 0 535.5 535.5" xml:space="preserve">
            <path class="rw-send-icon" d="M0 497.25L535.5 267.75 0 38.25 0 216.75 382.5 267.75 0 318.75z"></path>
          </svg>
      </button>

        <div class="image-upload">
            <label for="file-input">
             upload
        </label>
            <img id="blah" src="#" alt="your image" />

            <input id="file-input" type="file" onchange="readURL(this);" />
        </div>
    </form>


    <style>

    </style>

    <script>
     

        !(function() {
            let e = document.createElement("script");
            t = document.head || document.getElementsByTagName("head")[0];
            console.log(t);
            (e.src =
                "https://cdn.jsdelivr.net/npm/rasa-webchat@1.0.1/lib/index.js"),
            // Replace 1.x.x with the version that you want
            (e.async = !0),
            (e.onload = () => {
                window.WebChat.default({
                        customData: {
                            language: "it"
                        },
                        socketUrl: "http://localhost:5005",
                        title: "Visual Shopper",
                        subtitle: "Search Nike products",
                        displayUnreadCount: true,
                        showMessageDate: true,

                        // add other props here

                    },

                    null

                );
            })
            t.insertBefore(e, t.firstChild);
        })();



    </script>


    <!--<div id="webchat" />
    <script>
        WebChat.default.init({
            selector: "#webchat",
            initPayload: "/get_started",
            customData: {
                language: "en"
            },
            socketUrl: "http://localhost:5005",
            socketPath: "/socket.io/",
            title: "Visual Shopper",
            subtitle: "Search Nike products",
        })
    </script>-->


</body>

</html>